@import "../sass/utils/variables";
@import "../sass/utils/placeholder";
body {
    @extend %body;
}
@import "../sass/utils/contaier";
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

@import "../sass/components/page-header";
@import "../sass/components/portfolio-page";
@import "../sass/components/footer";